.faq-section {
	padding-top: 80px;
	padding-bottom: 54px;
}

.faq-accordin .card {
	border: none;
	margin-bottom: 22px;
}

.faq-accordin .card .card-heading {
	font-size: 22px;
	color: #252525;
	font-weight: 700;
	cursor: pointer;
}

.faq-accordin .card .card-heading a {
	padding-left: 42px;
	display: block;
}

.faq-accordin .card .card-body {
	padding: 0;
	padding-top: 13px;
	padding-bottom: 10px;
}

.faq-accordin .card .card-body p {
	margin-bottom: 0;
}

.faq-accordin .card-heading a:after,
.faq-accordin .card-heading>a.active[aria-expanded=false]:after {
	content: "";
	font-family: "FontAwesome";
	font-size: 14px;
	color: #404040;
	height: 25px;
	width: 25px;
	text-align: center;
	line-height: 25px;
	background: #EFEFF0;
	margin-top: 3px;
	position: absolute;
	left: 0;
	top: 0;
}

.faq-accordin .card-heading a[aria-expanded=true]:after,
.faq-accordin .card-heading>a.active:after {
	content: "";
	font-family: "FontAwesome";
	float: left;
	font-size: 13px;
	color: #ffffff;
	background: #e7ab3c;
}
